.bold {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
label{
  color: #471B00;
}
button{
  border-radius: 10px;
  margin-bottom: 10px;
}

.container{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container > div{
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.container > div > div{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container img{
/*  width: 30%;
  height: 30%;*/
  align-self: center

}

.box {
  margin: 0 auto;
  padding: 0;
}

.footer {
  margin-top: 1.75%;
  color: #471B00;
}

.footer img {
  vertical-align: middle;
  width: 5%;
  height: 5%;
}

.giant {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #471B00;

}

.medium {
  padding-top: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #471B00;

}
body {
  text-align: center;
  font-family: sans-serif;
  background: #16DCE0;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 3px;
    background: #C1D2D9;
}

.box {
  width: 100%;
  height: 100%;
}
/*
td {
  #008083
}*/
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

