.bold {
  font-weight: bold;
}

.box {
  margin: 0 auto;
  padding: 0;
}

.giant {
  font-size: 8em;
  font-weight: bold;
  text-align: center;
}

body {
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
}
table{
    margin: 2% 33% 2% 33% ;

}
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

